.buttonMenu {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.infoButton {
    width: 250px;
    height: 50px;
    margin: 10px;
    margin-top: 10px;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    /* color: rgb(65, 65, 65); */
    color: rgb(0, 184, 184);
    border-radius: 8px;
}

.selected-infoButton {
    background-color: gray !important;
    color: cyan !important;
}

.infobox {
    display: inline-block;
    padding: 10px;   
    font-size: 17px;
}

.infobox-animation {
    animation-duration: 1.5s;
    animation-name: enlarge;
}

@keyframes enlarge {
    from {
        transform: scale(0.85, 0.85);
    }
    
    to {
        transform: scale(1, 1);
    }
}

.outerInfobox {
    display: inline-block;
    width: 90%;
    background-color: rgb(58, 58, 58);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.outerInfobox-animation {
    animation-duration: 1s;
    animation-name: jump;
}

@keyframes jump {
    35% {
        transform: translateY(-10px)
    }
}

p {
    width: 90%;
    display: inline-block;
    text-align: left;
    padding: 5px;
}

.text-align-center {
    text-align: center;
}

.border-1-black {
    border: 1px solid black;
}

.border-1-white {
    border: 1px solid white;
}

.background-black {
    background-color: black;
}

.background-darkgray {
    background-color: darkgray;
}

.background-gray {
    background-color: gray;
}

.font-color-white {
    font-weight: bold;
    color: cyan;
}

body {
    background-color: rgb(122, 122, 122);
    color: rgb(0, 255, 255);;
    animation-duration: 2s;
    animation-name: enlarge;
    line-height: 1.6;
}

.projectImage {
    height: 300px;
    border: 4px solid rgb(49, 49, 49);
}

.github{
    font-size: 20px;
    color: inherit;
    font-weight: bold;
}